@import "tailwindcss";

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Optional: Custom scrollbar for a sleeker look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #475569;
}